In [1]:
from src.read.processing import Processing

data_loader = Processing()
data_loader.read("adult")

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,class
0,25.0,Private,226802.0,11th,7.0,Never-married,Machine-op-inspct,Own-child,Black,Male,0.0,0.0,40.0,United-States,<=50K
1,38.0,Private,89814.0,HS-grad,9.0,Married-civ-spouse,Farming-fishing,Husband,White,Male,0.0,0.0,50.0,United-States,<=50K
2,28.0,Local-gov,336951.0,Assoc-acdm,12.0,Married-civ-spouse,Protective-serv,Husband,White,Male,0.0,0.0,40.0,United-States,>50K
3,44.0,Private,160323.0,Some-college,10.0,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688.0,0.0,40.0,United-States,>50K
4,18.0,?,103497.0,Some-college,10.0,Never-married,?,Own-child,White,Female,0.0,0.0,30.0,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,27.0,Private,257302.0,Assoc-acdm,12.0,Married-civ-spouse,Tech-support,Wife,White,Female,0.0,0.0,38.0,United-States,<=50K
48838,40.0,Private,154374.0,HS-grad,9.0,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0.0,0.0,40.0,United-States,>50K
48839,58.0,Private,151910.0,HS-grad,9.0,Widowed,Adm-clerical,Unmarried,White,Female,0.0,0.0,40.0,United-States,<=50K
48840,22.0,Private,201490.0,HS-grad,9.0,Never-married,Adm-clerical,Own-child,White,Male,0.0,0.0,20.0,United-States,<=50K
48841,52.0,Self-emp-inc,287927.0,HS-grad,9.0,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024.0,0.0,40.0,United-States,>50K

In [3]:
data_loader.df.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'class'],
      dtype='object')

In [4]:
data_loader.general_preprocessing()
data_loader.df

,fnlwgt,capital-gain,capital-loss,hours-per-week,occupation,native-country,class,age,education-num,workclass_Federal-gov,...,relationship_Not-in-family,relationship_Other-relative,relationship_Own-child,relationship_Unmarried,relationship_Wife,race_Asian-Pac-Islander,race_Black,race_Other,race_White,sex_Male
0,0.351675,-0.144804,-0.217127,-0.034087,7,39,0,25,7,0,...,0,0,1,0,0,0,1,0,0,1
1,-0.945524,-0.144804,-0.217127,0.772930,5,39,0,38,9,0,...,0,0,0,0,0,0,0,0,1,1
2,1.394723,-0.144804,-0.217127,-0.034087,11,39,1,28,12,0,...,0,0,0,0,0,0,0,0,1,1
3,-0.277844,0.886874,-0.217127,-0.034087,7,39,1,44,10,0,...,0,0,0,0,0,0,1,0,0,1
4,-0.815954,-0.144804,-0.217127,-0.841104,0,39,0,18,10,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,0.640492,-0.144804,-0.217127,-0.195490,13,39,0,27,12,0,...,0,0,0,0,1,0,0,0,1,0
48838,-0.334178,-0.144804,-0.217127,-0.034087,7,39,1,40,9,0,...,0,0,0,0,0,0,0,0,1,1
48839,-0.357510,-0.144804,-0.217127,-0.034087,1,39,0,58,9,0,...,0,0,0,1,0,0,0,0,1,0
48840,0.111984,-0.144804,-0.217127,-1.648120,1,39,0,22,9,0,...,0,0,1,0,0,0,0,0,1,1
48841,0.930494,1.871315,-0.217127,-0.034087,4,39,1,52,9,0,...,0,0,0,0,1,0,0,0,1,0

In [5]:
data_loader.df.shape

(48842, 27)