# Check General Preprocessor

In [1]:
import numpy as np
from src.read.processing import Processing

NAME = "glass"

processor = Processing('input/datasets/')
df = processor.read(NAME)
df.head()

,RI,Na,Mg,Al,Si,'K',Ca,Ba,Fe,Type
0,1.51793,12.79,3.50,1.12,73.03,0.64,8.77,0.0,0.00,build_wind_float
1,1.51643,12.16,3.52,1.35,72.89,0.57,8.53,0.0,0.00,vehic_wind_float
2,1.51793,13.21,3.48,1.41,72.64,0.59,8.43,0.0,0.00,build_wind_float
3,1.51299,14.40,1.74,1.54,74.55,0.00,7.59,0.0,0.00,tableware
4,1.53393,12.30,0.00,1.00,70.16,0.12,16.19,0.0,0.24,build_wind_non-float

In [2]:

dummy_ord_col = np.random.randint(0, 3, size=(df.shape[0], 1))
df['dummy_ord_col'] = dummy_ord_col
d_map_dummy = {0: 'low', 1: 'medium', 2: 'high'}

df['dummy_ord_col'] = df['dummy_ord_col'].map(d_map_dummy)
df['dummy_ord_col2'] = np.random.randint(0, 3, size=(df.shape[0], 1))
processor.df = df

In [3]:
processor.df

,RI,Na,Mg,Al,Si,'K',Ca,Ba,Fe,Type,dummy_ord_col,dummy_ord_col2
0,1.51793,12.79,3.50,1.12,73.03,0.64,8.77,0.0,0.00,build_wind_float,high,2
1,1.51643,12.16,3.52,1.35,72.89,0.57,8.53,0.0,0.00,vehic_wind_float,low,2
2,1.51793,13.21,3.48,1.41,72.64,0.59,8.43,0.0,0.00,build_wind_float,low,0
3,1.51299,14.40,1.74,1.54,74.55,0.00,7.59,0.0,0.00,tableware,high,0
4,1.53393,12.30,0.00,1.00,70.16,0.12,16.19,0.0,0.24,build_wind_non-float,medium,0
...,...,...,...,...,...,...,...,...,...,...,...,...
209,1.51610,13.42,3.40,1.22,72.69,0.59,8.32,0.0,0.00,vehic_wind_float,high,0
210,1.51592,12.86,3.52,2.12,72.66,0.69,7.97,0.0,0.00,build_wind_non-float,high,1
211,1.51613,13.92,3.52,1.25,72.88,0.37,7.94,0.0,0.14,build_wind_non-float,high,2
212,1.51689,12.67,2.88,1.71,73.21,0.73,8.54,0.0,0.00,build_wind_non-float,medium,1
213,1.51852,14.09,2.19,1.66,72.67,0.00,9.32,0.0,0.00,tableware,high,2

In [4]:
df_proc = processor.general_preprocessing()
df_proc.head()

WARNING:root:Columns ['K'] are not in the dataset

,RI,Na,Mg,Al,Si,'K',Ca,Ba,Fe,dummy_ord_col,dummy_ord_col2,Type_build_wind_non-float,Type_containers,Type_headlamps,Type_tableware,Type_vehic_wind_float
0,-0.143715,-0.758384,0.566677,-0.652289,0.490551,0.64,-0.131680,-0.352877,-0.586451,2,2,0,0,0,0,0
1,-0.638803,-1.531681,0.580575,-0.190536,0.309376,0.57,-0.300715,-0.352877,-0.586451,0,2,0,0,0,0,1
2,-0.143715,-0.242853,0.552779,-0.070079,-0.014151,0.59,-0.371146,-0.352877,-0.586451,0,0,0,0,0,0,0
3,-1.774207,1.217820,-0.656366,0.190912,2.457593,0.00,-0.962769,-0.352877,-0.586451,2,0,0,0,0,1,0
4,5.137232,-1.359837,-1.865511,-0.893204,-3.223534,0.12,5.094318,-0.352877,1.882411,1,0,1,0,0,0,0