In [1]:
from src.read.processing import Processing

data_loader = Processing()
data_loader.read("heart-h")

,age,sex,chest_pain,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,num
0,28.0,male,atyp_angina,130.0,132.0,f,left_vent_hyper,185.0,no,0.0,?,NaN,?,<50
1,29.0,male,atyp_angina,120.0,243.0,f,normal,160.0,no,0.0,?,NaN,?,<50
2,29.0,male,atyp_angina,140.0,NaN,f,normal,170.0,no,0.0,?,NaN,?,<50
3,30.0,female,typ_angina,170.0,237.0,f,st_t_wave_abnormality,170.0,no,0.0,?,NaN,fixed_defect,<50
4,31.0,female,atyp_angina,100.0,219.0,f,st_t_wave_abnormality,150.0,no,0.0,?,NaN,?,<50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
289,52.0,male,asympt,160.0,331.0,f,normal,94.0,yes,2.5,?,NaN,?,>50_1
290,54.0,female,non_anginal,130.0,294.0,f,st_t_wave_abnormality,100.0,yes,0.0,flat,NaN,?,>50_1
291,56.0,male,asympt,155.0,342.0,t,normal,150.0,yes,3.0,flat,NaN,?,>50_1
292,58.0,female,atyp_angina,180.0,393.0,f,normal,110.0,yes,1.0,flat,NaN,reversable_defect,>50_1
293,65.0,male,asympt,130.0,275.0,f,st_t_wave_abnormality,115.0,yes,1.0,flat,NaN,?,>50_1

In [2]:
data_loader.df.num.unique()

array(['<50', '>50_1'], dtype=object)

In [3]:
data_loader.df.select_dtypes(include=['object'])

,sex,chest_pain,fbs,restecg,exang,slope,thal,num
0,male,atyp_angina,f,left_vent_hyper,no,?,?,<50
1,male,atyp_angina,f,normal,no,?,?,<50
2,male,atyp_angina,f,normal,no,?,?,<50
3,female,typ_angina,f,st_t_wave_abnormality,no,?,fixed_defect,<50
4,female,atyp_angina,f,st_t_wave_abnormality,no,?,?,<50
...,...,...,...,...,...,...,...,...
289,male,asympt,f,normal,yes,?,?,>50_1
290,female,non_anginal,f,st_t_wave_abnormality,yes,flat,?,>50_1
291,male,asympt,t,normal,yes,flat,?,>50_1
292,female,atyp_angina,f,normal,yes,flat,reversable_defect,>50_1
293,male,asympt,f,st_t_wave_abnormality,yes,flat,?,>50_1

In [4]:
import numpy as np
data_loader.df.select_dtypes(include=[np.number])

      age  trestbps   chol  thalach  oldpeak  ca
0    28.0     130.0  132.0    185.0      0.0 NaN
1    29.0     120.0  243.0    160.0      0.0 NaN
2    29.0     140.0    NaN    170.0      0.0 NaN
3    30.0     170.0  237.0    170.0      0.0 NaN
4    31.0     100.0  219.0    150.0      0.0 NaN
..    ...       ...    ...      ...      ...  ..
289  52.0     160.0  331.0     94.0      2.5 NaN
290  54.0     130.0  294.0    100.0      0.0 NaN
291  56.0     155.0  342.0    150.0      3.0 NaN
292  58.0     180.0  393.0    110.0      1.0 NaN
293  65.0     130.0  275.0    115.0      1.0 NaN

[294 rows x 6 columns]

In [5]:
data_loader.df.ca.isnull().sum()

291

In [6]:
data_loader.df.select_dtypes(include=['object']).columns

Index(['sex', 'chest_pain', 'fbs', 'restecg', 'exang', 'slope', 'thal', 'num'], dtype='object')

In [7]:
data_loader.df.columns

Index(['age', 'sex', 'chest_pain', 'trestbps', 'chol', 'fbs', 'restecg',
       'thalach', 'exang', 'oldpeak', 'slope', 'ca', 'thal', 'num'],
      dtype='object')

In [8]:
data_loader.general_preprocessing()
data_loader.df

,trestbps,chol,thalach,oldpeak,num,age,sex_male,chest_pain_atyp_angina,chest_pain_non_anginal,chest_pain_typ_angina,...,restecg_normal,restecg_st_t_wave_abnormality,exang_no,exang_yes,slope_down,slope_flat,slope_up,thal_fixed_defect,thal_normal,thal_reversable_defect
0,-0.146571,-1.822595,1.951019,-0.646074,NaN,28,1,1,0,0,...,0,0,1,0,0,0,0,0,0,0
1,-0.715815,-0.111523,0.887616,-0.646074,NaN,29,1,1,0,0,...,1,0,1,0,0,0,0,0,0,0
2,0.422673,-0.111523,1.312977,-0.646074,NaN,29,1,1,0,0,...,1,0,1,0,0,0,0,0,0,0
3,2.130406,-0.204014,1.312977,-0.646074,NaN,30,0,0,0,1,...,0,1,1,0,0,0,0,1,0,0
4,-1.854303,-0.481485,0.462255,-0.646074,NaN,31,0,1,0,0,...,0,1,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
289,1.561162,1.245002,-1.919768,2.109958,NaN,52,1,0,0,0,...,1,0,0,1,0,0,0,0,0,0
290,-0.146571,0.674645,-1.664551,-0.646074,NaN,54,0,0,1,0,...,0,1,0,1,0,1,0,0,0,0
291,1.276540,1.414567,0.462255,2.661164,NaN,56,1,0,0,0,...,1,0,0,1,0,1,0,0,0,0
292,2.699650,2.200735,-1.239190,0.456339,NaN,58,0,1,0,0,...,1,0,0,1,0,1,0,0,0,1
293,-0.146571,0.381759,-1.026510,0.456339,NaN,65,1,0,0,0,...,0,1,0,1,0,1,0,0,0,0

In [9]:
data_loader.df.shape

(294, 23)